/*
 * 한글 폰트 설정
  font-family: "Noto Sans KR", sans-serif;
*/

body{ 
  margin: unset;
  background-color: #d9d9d9;
}

:root {
  font-family: "arial";
}

.l_wrapper {
  max-width: 960px;
  margin: 0 auto; 
}

.l_row {
  display: flex;
  flex-wrap: nowrap;
  gap: 30px;
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

.l_col {
  width: calc(100% / 3);
  margin-top: 30px;
  
}
.header {
  background-color: #f4f4f4;
}

.header-inside {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-inside img {
  width: 124px;
  height: 100px;
}

.header-title {
  color: #ff6600;
  font-size: 24px;
  margin: 0;
  padding: 66px 0;
}

.container {
  background-color: #d9d9d9;
  display: flex;
}

.card-cover-wrapper {
  background-color: #d9d9d9;
  display: flex;
  position: relative;
  margin: 0;
  padding: 0;
}

.card {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card-cover {
  width: 100%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.card-title {
  position: absolute;
  color: #ff6600;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  width: auto;
  margin: 0;
  padding: 10px 20px;
  border-top-right-radius: 12px;
}

.card-title h2 {
  font-size: 24px;
  margin: 0;
}

.card-contents {
  margin: 0;
  background-color: white;
}

.card-contents p {
  color: #666;
  line-height: 140%;
  font-size: 14px;
  padding: 20px;
  margin: 0;
}

.chilihotdog-bold {
  font-weight: bold;
  color: #ff6600;
}

.card-hashtag {
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
  background-color: #f4f4f4;
  padding: 26px 0 26px 18px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.hashtag {
  width: auto;
  padding: 2px 8px 4px 8px;
  font-size: 12px;
  background-color: #ff6600;
  border-radius: 48px;
  color: white;
  line-height: 16px;
  text-decoration: none;
}

.copyright {
  padding: 30px 0 0 8px;
}

.copyright p {
  color: #aaa;
  font-size: 12px;
  letter-spacing: 0.24em;
}